@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Esto oculta la barra de scroll en todos los navegadores. */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}